# Server
PORT=3000
ALLOWED_ORIGIN=http://localhost:4200

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false

SMTP_USER=forever@lmarble.com 
SMTP_PASS=XXXX XXXX XXXX XXXXX 


# Where contact form emails get delivered
RECIPIENT_EMAIL=xiwig31712@asitrai.com
